mixin catCard(img, title, link="#!")
	
	a(href=""+ link).cat-card
		.card-img
			img(src="./img/category/cat"+ img +".webp", srcset="./img/category/cat"+ img +"@2x.webp 2x"  alt="img")
		.card-txt
			p !{title}
mixin catCard-ui(img, title, link="#!")
	a(href=""+ link).cat-card
		.card-img
			img(src="../img/category/cat"+ img +".webp", srcset="../img/category/cat"+ img +"@2x.webp 2x"  alt="img")
		.card-txt
			p !{title}
mixin catCard-flex(img, title, link="#!")
	a(href=""+ link).cat-card.card-flex
		.card-img
			img(src="./img/category/cat"+ img +".webp", srcset="./img/category/cat"+ img +"@2x.webp 2x"  alt="img")
		.card-txt
			p !{title}

mixin catCard-flex-ui(img, title, link="#!")
	a(href=""+ link).cat-card.card-flex
		.card-img
			img(src="../img/category/cat"+ img +".webp", srcset="../img/category/cat"+ img +"@2x.webp 2x"  alt="img")
		.card-txt
			p !{title}

mixin addCard(nameNum,name, pr)
		
	label.add-product-card.fake-label&attributes(attributes)
		input(type="checkbox" name="add" + nameNum)
		span.check-icon
		.add-product
			.card-img
				img(src="./img/goods/add"+nameNum+".webp", srcset="./img/goods/add"+nameNum+"@2x.webp 2x" width="95" height="62" alt="img")
			.card-txt
				p #{name}
				.card-price #{pr} #[span &#8381;]